.computadoras img{
    width: 300px;
    border-radius: 350px;
}
.computadoras {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family:"Kalam";
    font-size: 3rem;
    margin: 40px;
    text-align: center;
}
body{
    background-color:#F2D5D5;
}
h3,h2,p,ul,h4{
    font-family:"Kalam";
    text-align: center;
    font-size: 25px;
}

p{
    text-align: justify;
    justify-content: center;
}
div .container {
    display: flex;
    justify-content:  center;
    align-items: center;
}
.container{
    background-color: antiquewhite;
    width: 60%;
    border: none;
    border-radius: 10px;
    justify-content: center;
    padding: 30px;
    margin: auto; 
    text-align: center;

    
}



ul{
    list-style: none;
   
}
ul li{
    display: inline;
    font-size: 25px;
    margin-right: 35px;


}